.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1.5rem;
	color: hsl(236, 13%, 42%);
	&__attribution {
		text-align: center;
	}
	&__copyright {
		text-align: center;
		padding-top: .5rem;
	}
}

.footer-attribution {
	&__link {
		text-decoration: none;
		color: hsl(240, 100%, 5%);
		&:hover {
			cursor: pointer;
			color: hsl(35, 77%, 62%);
		}
	}
}
