$background-color: hsl(36, 100%, 99%);

.body-header {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  margin: 1rem .5rem;
  &__logo {
    width: 45px;
    height: 30px;
    margin-top: .5rem;
  }
}

.header-navbar {
  &__menu-icon {
    padding-top: 1.2rem;
    cursor: pointer;
  }

  &__menu-close-icon {
    cursor: pointer;
    align-self: flex-end;
    padding-top: 3rem;
    margin-bottom: 8rem;
    padding-right: 4rem;
  }

  &__overlay {
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    transition: opacity .5s ease-in-out;
    pointer-events: none;
  }

  &__overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

  &__list {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 275px;
    left: 32%;
    list-style: none;

    display: flex;
    flex-direction: column;
  }
}

 .navbar-list__item {
  margin-bottom: 2.75rem;
}

.navbar-list__item-link {
  text-decoration: none;
  color:hsl(236, 13%, 42%);
  padding-left: 2.15rem;
  font-size: 1.8rem;
  &:hover {
    cursor: pointer;
    color: hsl(5, 85%, 63%);
  }
}

@media screen and (min-width: 810px) {
  .body-header {
    margin: 0 8rem;
  }
  .header-navbar {
    &__menu-icon {
      display: none;
    }

    &__menu-close-icon {
      display: none;
    }

    &__overlay {
      position: relative;
      opacity: 1;
      background-color:transparent;
      margin-right: 24rem;
      pointer-events: auto;
    }

    &__list {
      position: relative;
      list-style: none;
      margin-top: 1rem;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .navbar-list__item {
    padding-bottom: 0rem;
  }
  .navbar-list__item-link {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    font-size: 1.5rem;
    padding: 1.3rem;
  }
 }

 @media screen and (min-width:1420px) {
  .navbar-list__item-link {
    padding: 0;
  }
}
