.loader {
	margin: 15rem auto;
	color: hsl(240, 100%, 5%);
	width: 3px;
	aspect-ratio: 1;
	border-radius: 50%;
	box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
	transform: translateX(-38px);
	animation: loader 0.5s infinite alternate linear;
	-webkit-box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
	-webkit-transform: translateX(-38px);
	-webkit-animation: loader 0.5s infinite alternate linear;
}

@keyframes loader {
	50% {
		box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
	}
	100% {
		box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
	}
}

@-webkit-keyframes loader {
	50% {
		box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
	}
	100% {
		box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
	}
}


.body-main {
	display: none;
	gap: 1.5rem;
	margin: 1.65rem 1.5rem;
}

.call-action {
	&__image {
		width: 100%;
	}
	&__header {
		color: hsl(240, 100%, 5%);
		font-size: 4.25rem;
		word-spacing: -.48rem;
		line-height: 1em;
		padding-top: 2rem;
		padding-bottom: 1.15rem;
	}
}

.call-action-sidebar{
	&__message {
		color: hsl(236, 13%, 42%);
		line-height: 1.75em;
		padding-bottom: 1.1rem;
	}
	&__button {
		width: 54%;
		padding: 1.5rem;
		margin: 1.25rem 0;
		text-transform: uppercase;
		background-color: hsl(5, 85%, 63%);
		border: 1px solid hsl(5, 85%, 63%);
		color: hsl(36, 100%, 99%);
		letter-spacing: .5rem;
		font-weight: 700;
		&:hover{
			cursor: pointer;
			background-color: hsl(240, 100%, 5%);
			border: 1px solid hsl(240, 100%, 5%);
		}
	}
}

.main-aside {
	background-color: hsl(240, 100%, 5%);
	margin-top: 3.5rem;
	&__header {
		color: hsl(35, 77%, 62%);
		font-size: 3rem;
		font-weight: 700;
		padding: 1.5rem 2.1rem;
		letter-spacing: .2rem;
	}
	&__news-item {
		color: hsl(36, 100%, 99%);
		padding: 1.5rem 2rem;
		margin-bottom: 2rem;
		margin-top: .5rem;
	}


	&__news-item-divider {
		width: 88%;
		margin: 0 2rem;
	}
}

.news-item {
	&__header {
		padding: .5rem 0;
		font-size: 2rem;
		font-weight: 700;
		&:hover {
			cursor: pointer;
			color: hsl(35, 77%, 62%);
		}
	}
	&__message {
		padding-top: .5rem;
		word-spacing: .1rem;
		line-height: 1.5em;
	}
}

.main-footer {
	margin: 5rem 0 1.5rem 0;
	&__item {
		display: flex;
		margin-bottom: 3.5rem;
	}
}

.item {
	display: flex;
	flex-direction: column;
	gap: .8rem;
	&__image {
		height: 125px;
		padding-right: 2.5rem;
	}

	&__title {
		font-size: 3rem;
		font-weight: 800;
		color: hsl(233, 8%, 79%);
	}

	&__subtitle {
		font-size: 1.8rem;
		font-weight: 700;
		color: hsl(240, 100%, 5%);
		&:hover {
			cursor: pointer;
			color: hsl(5, 85%, 63%);
		}
	}

	&__message {
		color: hsl(236, 13%, 42%);
		line-height: 1.55em;
	}
}

@media screen and (min-width: 810px) {
	.body-main {
		margin: 0 1.5rem;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}
	.call-action {
		grid-column: 1 / span 2;
		&__board {
			display: flex;
			flex-direction: column;
			gap: 2.5rem;
			margin-top: 2rem;
			padding-right: 2rem;
		}

		&__header {
			font-size: 6rem;
			padding: 0;
		}
		&__sidebar {
			width: 100%;
		}
	}

	.call-action-sidebar{
		&__message {
			line-height: 1.6em;
			margin-bottom: 1.5rem;
			font-size: 1.8rem;
		}
		&__button {
			width: 60%;
		}
	}

	.main-aside {
		grid-column-start: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		margin-top: -.6rem;
		&__news-item {
			margin-top: -.5rem;
			margin-left: .8rem;
		}
		&__header {
			font-size: 3.5rem;
			margin-top: 2rem;
			margin-left: 1.2rem;
		}
		&__news-item-divider {
			width: 90%;
			margin: 0 1.5rem;
			margin-bottom: 1rem;
		}
	}
	.news-item {
		&__message {
			margin-bottom: -.35rem;
			line-height: 1.7em;
		}
	}

	.main-footer {
		grid-column: 1 / span 3;
		gap: .6rem;
		margin: 0;
		margin-top: 2.5rem;
		display: flex;
	}

	.item {
		width: 138px;
		gap: .5rem;
		&__image {
			padding-right: 1.5rem;
			height: 135px;
		}
		&__title {
			font-size: 2.5rem;
		}

		&__subtitle {
			font-size: 1.6rem;
		}
		&__message {
			font-size: 1.4rem;
			line-height: 1.5em;
		}
	}
}

@media screen and (min-width: 960px) {
	.body-main {
		margin: 0 16.2rem;
		margin-top: -4rem;
		grid-template-columns: 355px 355px 352px;
		gap: 2.5rem;
	}
	.call-action {
		grid-column: 1 / span 2;
		&__board {
			flex-direction: row;
			gap: 5rem;
		}

		&__header {
			font-size: 5.8rem;
		}
		&__sidebar {
			width: 115%;
		}
	}

	.call-action-sidebar{
		&__message {
			font-size: 1.5rem;
		}
		&__button {
			width: 56%;
		}
	}

	.main-aside {
		&__news-item-divider {
			width: 85%;
			margin: 0 2.8rem;
		}
	}
	.news-item {
		&__message {
			margin-bottom: -.35rem;
			line-height: 1.7em;
		}
	}

	.main-footer {
		grid-column: 1 / span 3;
		gap: 2.8rem;
		margin: 0;
		margin-top: 3.2rem;
		display: flex;
	}

	.item {
		width: 225px;
		&__image {
			padding-right: 3rem;
			height: 125px;
		}
		&__message {
			line-height: 1.75em;
		}
	}
}