@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  max-height: 100dvh;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.header {
  grid-column: 1/5;
  grid-row: 1;
  z-index: 1;
  margin: 4rem 2rem;
}
.header__mobile-hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__logo {
  margin-left: 8rem;
}
.header__navbar {
  display: none;
}

@media screen and (min-width: 1280px) {
  .header {
    grid-column: 1/5;
    grid-row: 1;
    margin: 4rem 2rem;
    display: flex;
  }
  .header__mobile-hamburger {
    display: none;
  }
  .header__logo {
    margin: 0 4rem;
    height: 1.5rem;
  }
  .header__navbar {
    display: block;
  }
  .navbar-links {
    list-style: none;
    display: flex;
  }
  .navbar-links__list-item {
    display: inline-block;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.2rem 0;
    margin: 0 2rem;
    text-transform: lowercase;
    cursor: pointer;
    padding-bottom: 0.5rem;
    position: relative;
  }
  .navbar-links__list-item:hover:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 0.2rem;
    background-color: hsl(0, 0%, 100%);
    transform: translateX(-50%);
  }
  .navbar-links__link-item {
    display: block;
    text-decoration: none;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  grid-column: 1/5;
  grid-row: 1/2;
}
.hero__slide {
  display: flex;
  flex-direction: column-reverse;
  z-index: 2;
}

.hero-slide__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 320px;
  margin: 4rem auto;
}
.hero-slide__buttons {
  grid-column: 5;
  width: fit-content;
  margin-top: -5.1rem;
  margin-left: auto;
  background-color: hsl(0, 0%, 0%);
}

.hero-slide-content__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hero-slide-content__action {
  display: inline-block;
  margin-top: 2.5rem;
  padding: 1rem;
  cursor: pointer;
}
.hero-slide-content__action:hover .hero-slide-action__text {
  color: hsl(0, 0%, 63%);
}
.hero-slide-content__action:hover .hero-slide-action__icon {
  fill: hsl(0, 0%, 63%);
}

.hero-slide-main__header {
  font-weight: 700;
  font-size: 3rem;
  padding: 1.5rem 1rem;
}
.hero-slide-main__text {
  font-weight: 500;
  color: hsl(0, 0%, 63%);
  line-height: 1.5rem;
  padding: 0 1rem;
  width: 245px;
}

.hero-slide-action__text {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.2rem;
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}
.hero-slide-action__icon {
  margin: 0 1.5rem;
  padding: 6rem;
}

.hero-slide-buttons__left-button {
  background-color: hsl(0, 0%, 0%);
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}
.hero-slide-buttons__left-button:hover {
  background-color: hsl(0, 0%, 27%);
}
.hero-slide-buttons__right-button {
  background-color: hsl(0, 0%, 0%);
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}
.hero-slide-buttons__right-button:hover {
  background-color: hsl(0, 0%, 27%);
}

@media screen and (min-width: 1280px) {
  .hero {
    display: flex;
    flex-direction: row;
    grid-column: 1/5;
    grid-row: 1/2;
  }
  .hero__slide {
    display: flex;
    flex-direction: column;
    margin-top: 12%;
  }
  .hero-slide__content {
    display: flex;
    flex-direction: column;
    margin: 0 8rem;
  }
  .hero-slide-main__text {
    width: 320px;
  }
  .hero-slide__buttons {
    margin-top: auto;
    margin-bottom: 0.35rem;
    margin-right: auto;
    margin-left: 0;
    padding: 0 0.5rem;
  }
}
.about {
  display: flex;
  flex-direction: column;
  grid-column: 1/5;
  grid-row: 2/3;
  justify-content: center;
  align-items: center;
}
.about__info {
  margin: 2rem 5rem;
}

.about-info__heading {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem;
}
.about-info__text {
  color: hsl(0, 0%, 63%);
  padding: 1rem;
  line-height: 1.75rem;
  font-weight: 600;
}

@media screen and (min-width: 800px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .about__dark-image, .about__light-image {
    width: 100%;
  }
  .about__info {
    margin: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    display: flex;
    flex-direction: row;
    margin-top: -0.5rem;
  }
  .about__info {
    margin: 3rem;
    width: 1250px;
  }
  .about__light-image {
    margin-top: -1rem;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem auto;
  grid-column: 1/5;
  grid-row: 5;
}
.footer__attribution {
  text-align: center;
}
.footer__copyright {
  text-align: center;
  padding-top: 0.5rem;
}

.footer-attribution__link {
  text-decoration: none;
  color: hsl(0, 0%, 63%);
  font-weight: 600;
}
.footer-attribution__link:hover {
  cursor: pointer;
  color: hsl(0, 0%, 27%);
}

/*# sourceMappingURL=main.css.map */
