@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Kumbh+Sans&display=swap');

:root {
	/* text colors */
	--color-dark-blue: hsl(238, 29%, 16%);
	--color-soft-red: hsl(14, 88%, 65%);
	--color-very-dark-grayish-blue:hsl(237, 12%, 33%);
	--color-dark-grayish-blue:hsl(240, 6%, 50%);
	/* background gradients */
	--color-soft-violet: hsl(273, 75%, 66%);
	--color-soft-blue: hsl(240, 73%, 65%);
	/*divider color */
	--color-light-grayish-blue: hsl(240, 5%, 91%);
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to top, var(--color-soft-blue), var(--color-soft-violet));
	background-attachment: fixed;
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 800px;
	flex-direction: column;
}

main {
	background-color: white;
	border-radius: 1.5em;
	max-width: 1440px;
	height: fit-content;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('./images/bg-pattern-desktop.svg');
	background-repeat: no-repeat;
	background-size: 87.5%;
	background-position-x: -480px;
	background-position-y: -270px;
	margin: 0%;
	overflow: hidden;
}

article {
	min-width: 360px;
	max-width: 450px;
	height: 100%;
	padding: 4rem;
}

h1 {
	font-weight: 700;
	font-size: 3rem;
	margin-bottom: 2.5rem;
}

hr {
	color: var(--color-light-grayish-blue);
}

.card {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0%;
}

.card__image {
  width: 40%;
  margin: 0%;
}

.card__image-main {
  transform: scale(.9, .9);
  position: relative;
  top: 10px;
  left: -85px;
}

.card__image__overlay {
  position: absolute;
  transform: scale(.85, .85);
  top: 355px;
  left: 115px;
  z-index: 99;
  overflow: visible;
}

.attribution {
	 font-size: 11px; text-align: center;
}

.attribution a {
	 color: hsl(228, 45%, 44%);
}