 @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

 :root {
	/* primary color */
	--color-blue: hsl(223, 87%, 63%);
	/* secondary colors */
	--color-pale-blue: hsl(223, 100%, 88%);
	--color-light-red: hsl(354, 100%, 66%);
	--color-light-green: hsl(145, 100%, 65%);
	/* neutral colors */
	--color-gray:hsl(0, 0%, 59%);
	--color-very-dark-blue:hsl(209, 33%, 12%);
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

.page {
    font-family: 'Libre Franklin', sans-serif;
	font-size: 2rem;
	min-height: 100dvh;
	width: 100dvw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.content__header {
	margin-top: 5rem;
	margin-bottom: 2rem;
}

.logo {
	width: 75px;
}

.header-notification {
	font-size: 2.5rem;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.notification__header {
	margin: .5rem;
}

.launch-call-out {
	color: var(--color-gray);
	font-weight: 300;
}

.launch-time {
	color: var(--color-very-dark-blue);
	font-weight: 600;
}

.notification__message {
	text-align: center;
	font-weight: 300;
}

.content__subscription-form {
	margin: 3.5rem;
}

.subscription-form {
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
}

.subscription-form__email {
	display: flex;
	flex-direction: column;
}

.input {
	height: 4.2rem;
	width: 350px;
	border-radius: 3rem;
	vertical-align: 1.5rem;
	padding-left: 2rem;
	color: var(--color-gray);
	border: 1px solid var(--color-pale-blue);
}

.input:focus {
	border: 1px solid var(--color-blue);
}

.input_success {
	border: 1px solid var(--color-pale-blue);
}

.input_error {
	border: 1px solid var(--color-light-red);
}

.subscription-form__button {
	height: 4.5rem;
	width: 150px;
	border-radius: 2rem;
	background-color: var(--color-blue);
	border: 0;
	color: white;
	font-weight: 700;
	box-shadow: 2px 5px 5px var(--color-pale-blue);
}

.subscription-form__button:hover {
	cursor: pointer;
	background-color: var(--color-pale-blue);
}

.input__message {
	padding-left: 1.5rem;
	margin: 1rem;
}

.message {
	font-size: 1.2rem;
	font-weight: 300;
	display: none;
}

.message_success {
	color: var(--color-blue);
}

.message_error {
	color: var(--color-light-red);
}

.image-container {
	margin: 2.5rem;
}

.image__illustration {
	width: 550px;
}

.page__footer {
	margin: 1.5rem;
}

.footer__socials {
	margin: 1rem;
}

.socials {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials__icons {
	padding: 1.2rem;
	margin: .5rem;
}

.fa-brands {
	color: var(--color-blue);
	border-radius: 50%;
	border: 1px solid var(--color-pale-blue);
}

.fa-brands:hover {
	cursor: pointer;
	background-color: var(--color-blue);
	color: white;
}


.attribution {
	font-size: 1.2rem;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
	text-decoration: none;
}

.copyright {
	font-size: 1.2rem;
	text-align: center;
}

@media screen and (max-width: 415px) {
	.notification__header {
		margin: 1.5rem;
	}

	.header-notification {
		font-size: 2.5rem;
		gap: .5rem;
	}

	.notification__message {
		font-size: 1.5rem;
	}

	.subscription-form {
		flex-direction: column;
		width: 325px;
	}

	.input { width: 93%; }
	.error-message { text-align: center; }
	.subscription-form__button { width: 100%; }
	.image__illustration { width: 320px; }
}