$color-dark-gray: hsl(0, 0%, 63%);

.about {
	display: flex;
	flex-direction: column;
	grid-column: 1/5;
	grid-row: 2/3;
	justify-content: center;
	align-items: center;
	&__info {
		margin: 2rem 5rem;
	}
}

.about-info {
	&__heading {
		letter-spacing: .5rem;
		text-transform: uppercase;
		font-size: 1.2rem;
		font-weight: 700;
		padding: 1rem;
	}
	&__text {
		color: $color-dark-gray;
		padding: 1rem;
		line-height: 1.75rem;
		font-weight: 600;
	}
}



@media screen and (min-width: 800px) {
	.about {
		display: flex;
		flex-direction: column;
		&__dark-image,
		&__light-image {
			width: 100%;
		}
		&__info {
			margin: 4rem;
		}
	}
}

@media screen and (min-width:1280px) {
	.about {
		display:flex;
		flex-direction: row;
		margin-top: -.5rem;
		&__info {
			margin: 2.5rem;
			width: 1200px;
		}
		&__light-image {
			margin-top: -1rem;
		}
	}


}