$color-dark-gray: hsl(0, 0%, 63%);

.about {
	display: flex;
	flex-direction: column;
	grid-column: 1/5;
	grid-row: 2/3;
	justify-content: center;
	align-items: center;
	margin-top: 1.8rem;
	&__info {
		margin: 1.4rem 2.4rem;
	}
}

.about-info {
	&__header {
		letter-spacing: .52rem;
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: 700;
		padding: 1rem;
	}
	&__text {
		color: $color-dark-gray;
		margin: .8rem;
		line-height: 2.2rem;
		font-size: 1.5rem;
		font-weight: 600;
	}
}



@media screen and (min-width: 800px) {
	.about {
		display: flex;
		flex-direction: column;
		&__dark-image,
		&__light-image {
			width: 100%;
		}
		&__info {
			margin: 4rem;
		}
	}
}

@media screen and (min-width: 1280px) {
	.about {
		display:flex;
		flex-direction: row;
		margin-top: -1.7rem;
		&__info {
			margin-top: 5rem;
		}
		&__light-image,
		&__dark-image {
			width: 800px;
		}
	}
	.about-info{
		&__header {
			font-size: 1.5rem;
			letter-spacing: .7rem;
		}
	}

}




@media screen and (min-width:1420px) {
	.about {
		display:flex;
		flex-direction: row;
		margin-top: -.35rem;
		&__info {
			margin-top: 5rem;
		}
		&__light-image,
		&__dark-image {
			width: 800px;
		}
	}
	.about-info{
		&__header {
			font-size: 1.5rem;
			letter-spacing: .7rem;
		}
	}
}