$color-white:  hsl(0, 0%, 100%);

.header {
	grid-column: 1/5;
	grid-row: 1;
	z-index: 1;
	margin: 4rem 2rem;
	&__mobile-hamburger {
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
	&__logo {
		margin-left: 8rem;
	}
	&__navbar {
		display: none;
	}
}

@media screen and (min-width: 1280px) {
	.header {
		grid-column: 1/5;
		grid-row: 1;
		margin: 4rem 2rem;
		display: flex;
		&__mobile-hamburger {
			display: none;
		}
		&__logo {
			margin: 0 4rem;
			height: 1.5rem;
		}
		&__navbar {
			display: block;
		}
	}
	.navbar-links {
		list-style: none;
		display: flex;
	}
	.navbar-links{
		&__list-item {
			display: inline-block;
			color: $color-white;
			font-weight: 600;
			font-size: 1.5rem;
			padding: .2rem 0;
			margin: 0 2rem;
			text-transform: lowercase;
			cursor: pointer;
			padding-bottom: .5rem;
			position: relative;
			&:hover {
				&:before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 50%;
					height: .2rem;
					background-color: $color-white;
					transform: translateX(-50%); 
				}
			}
		}
		&__link-item {
			display: block;
			text-decoration: none;
		}
	}


}