$color-white:  hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

.header {
	grid-column: 1/5;
	grid-row: 1;
	z-index: 1;
	margin: 4rem 2rem;

	&__mobile-hamburger {
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
	&__logo {
		margin-left: 8rem;
		display: inline-block;
	}
	&__navbar--mobile {
		display: none;
		flex-direction: row;
		margin: -6rem -4rem;
		background-color: $color-white;
	}
	&__closeIcon--mobile {
		background-color: transparent;
		margin: 4rem 0 4rem 4rem;
		border: none;
		cursor: pointer;
	}

}
.navbar-links {
	list-style: none;
	display: none;
	margin: 4rem 2rem 4rem 3rem;
	&__list-item--mobile {
		display: inline-block;
		color: $color-black;
		font-weight: 600;
		font-size: 1.5rem;
		padding: .2rem 0;
		margin: 0 2rem;
		text-transform: lowercase;
		cursor: pointer;
		padding-bottom: .5rem;
		position: relative;
	}
	&__link-item--mobile {
		display: block;
		text-decoration: none;
	}
}

@media screen and (min-width: 1280px) {
	.header {
		grid-column: 1/5;
		grid-row: 1;
		margin: 4rem 2rem;
		display: flex;
		&__mobile-hamburger {
			display: none;
		}
		&__logo {
			margin: 0 4rem;
			height: 1.5rem;
			display: inline-block;
		}
		&__navbar--mobile {
			display: none;
			background-color: inherit;
		}
		&__navbar {
			display: block;
		}
		&__closeIcon--mobile {
			display: none;
		}
	}
	.navbar-links {
		list-style: none;
		display: flex;
		margin: 0;
		&__list-item--mobile {
			display: none;
		}
		&__link-item--mobile {
			display: none;
		}
		&__list-item {
			display: inline-block;
			color: $color-white;
			font-weight: 600;
			font-size: 1.5rem;
			padding: .2rem 0;
			margin: 0 2rem;
			text-transform: lowercase;
			cursor: pointer;
			padding-bottom: .5rem;
			position: relative;
			&:hover {
				&:before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 50%;
					height: .2rem;
					background-color: $color-white;
					transform: translateX(-50%);
				}
			}
		}
		&__link-item {
			display: block;
			text-decoration: none;
		}
	}

}